*{
	list-style:none; 
	margin:0; 
	padding:0; 
	text-decoration:none;
	box-sizing: border-box;
}

a { color: black; }

section { float : left; width : 100%; height : 100%; }

table { border-spacing: 0px; border-collapse: separate;}
tr { border : 2px solid #EAEAEA; padding : 8px; }
td { border : 2px solid #EAEAEA; padding : 8px; }
h3 { margin-bottom: 10px; }
.col8 { margin-left: 10px; }
#admin_box { float : left; margin-left : 40%; margin-top: 5%;}